{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="card col-md-6 mx-auto">
    <div class="card-header">
        <h3 class="card-title text-center">{{ post.title }}</h3>
        {% for category in post.category.all  %}
        <span class="badge rounded-pill bg-primary text-light">{{ category }}</span>
        {% endfor %}
    </div>
    <div class="card-body">
        {% if post.image %}
        <img class="img-fluid" src="{{ post.image.url }}" />
        {% endif %}
        <p>{{ post.content|safe }}</p>
    </div>
    {% if request.user == post.author %}
    <div class="card-footer">
        <a href="{% url 'blog:post-update' post.slug %}" class="btn btn-primary">
            Editar
        </a>
        
        <a href="{% url 'blog:post-delete' post.slug %}" class="btn btn-danger">
            Excluir
        </a>
    </div>
    {% endif %}
</div>

{% endblock content %}
