{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="my-4">{{ post.title }}</h1>
<hr>

<p>{{ post.content }}</p>

<p>
    <a href="{% url 'blog:post-update' post.slug %}" class="btn btn-success">
        Editar
    </a>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Excluir
    </button>
</p>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Tem certeza que deseja excluir?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <button type="button" class="btn btn-danger">Sim</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
