{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Contato{% endblock title %}

{% block header %}
<header class="masthead" style="background-image: url({% static 'assets/contact-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Django Blog</h1>
                    <span class="subheading">Um blog feito em django bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}

{% if success %}
<div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    <strong>E-mail enviado com sucesso!</strong>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Quer entrar em contato? Preencha o formulário abaixo para me enviar uma mensagem e retornarei o mais breve possível!</p>
                <div class="my-5">
                    <form id="contactForm" method="POST" action="{% url 'contact' %}">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <!-- Submit Button-->
                        <div class="mt-4">
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}